<!-- <nav class="navbar navbar-default navbar-fixed-top"> -->
  <!-- <div class="container-fluid"> -->
    <!-- <span class="navbar-brand">App | </span> -->
    <!-- <ul class="nav navbar-nav"> -->
      <!-- <li><a routerLink="/character">All</a></li> -->
      <!-- <li><a routerLink="/character/edit">New</a></li> -->
      <!-- <li class="navbar-right"> -->
      <!-- <a routerLink="/login">Sign Out</a></li> -->
      <!-- <li><a routerLink="/chat">Chat Room</a></li> -->
    <!-- </ul> -->
    <!-- <ul class="nav navbar-nav">
      <li class="nav navbar-nav"
        style="right:15px;position: absolute;"
        >
        <a routerLink="/login">Sign Out</a>
      </li>
    </ul> -->
  <!-- </div> -->
<!-- </nav> -->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/character">All</a>
      <a class="navbar-brand" routerLink="/character/edit">New</a>
      <a class="navbar-brand navbar-right" href="/login">Logout</a>
    </div>
  </div><!-- /.container-fluid -->
</nav>






<section class="container">
  <router-outlet></router-outlet>
</section>

