 <h5>Hello my friend</h5>
<form (ngSubmit)="save(user.username, user.password)" novalidate>
	<div class="form-group">

		<label>Username</label>
		<input type="text" class="form-control"
			required minlength="5" name="username"
			[(ngModel)]="user.username" #username="ngModel" >
			
		<small [hidden]="username.valid || !(username.touched)" class="text-danger">
			Username is required (minimum 5 characters).
		</small>
		<br>

		<label>Password</label>
		<input type="password" class="form-control"
			required name="password"
			[(ngModel)]="user.password" #password="ngModel">

		<small [hidden]="password.valid || !(password.touched)" class="text-danger">
			Password is required.
		</small>
		<br>

		<!--<div *ngIf="games.length">-->
			<!--<label>Game Name</label><br>-->
			<!--<div *ngFor="let game of games">-->
			<!--<input type="radio" name="buildTool" value={{game.name}} [(ngModel)]="currGame">{{game.name}}</div>-->
		<!--</div>-->
	</div>

	<!-- <button class="btn btn-primary" type="submit">Sign Up</button> -->
	<button type="submit" [disabled]="(!username.valid || !password.valid)"
			class="btn btn-default">
		Sign in
	</button>
	<input type="button" class="btn btn-default" 
		[disabled]="(!username.valid || !password.valid)"
		(click)="signUp(user.username, user.password)" value="Sign up">

</form>
